.git
*Dockerfile*
*docker-compose*
node_modules
.git
.github
.dockerignore
.gitignore

.idea
.vscode

__pycache__/
*.py[cod]
*$py.class
*.so
htmlcov/
.coverage
.coverage.*
.pytest_cache/
.venv
venv

.DS_Store
.AppleDouble
.LSOverride
._*

.vscode
.idea

__pycache__
*.pyc
*.pyo
*.pyd
.Python
env
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git
.mypy_cache
.pytest_cache
.hypothesis
.env
.DS_Store